body{
    margin:0em;
    padding:0em;
    font-family: sans-serif;
    
}
nav{
    background-color:rgba(16, 16, 16, 0.89);
    color:gray;
    height: 3.125em;
}
.navigation{
    display: inline-block;
}
.navigation ul li{ 
   display: inline;
   padding:0.1875em 0.9375em 0.9375em 0.1875em;
   font-size: 1.0625em;
}
.select{
    background-color: rgba(16, 16, 16, 0.03);
    color:gray;
    font-size: 1.0625em;
    border:0em;
}
.option{
    color:gray;
    background-color:white;
    font-size: 1.0625em;
}
li a:visited ,a:active,a:link {
    color:#9d9d9d;
}
li a:hover{
    color:white;
}
a{text-decoration: none;}
.nav-right{
    float: right;
    margin-top:0em;
    margin-left:12.5em;
     display: inline-block;
}
.input{
    padding:0.5em;
    border:0em;
    margin-bottom : 2em;
    border-radius:0.3125em;
    padding-bottom: 0.8em;
    padding-right:1em;
    padding-left:1em;

    
}
.input-button{

    background-color:white;
    color:gray;
    border-radius: 0.375em;
    padding-left: 1.55em;
    padding-right:1.55em;
    padding-top:0.5em;
    padding-bottom:0.65em;

}
.ul-inline{
            margin-top:0.4em;
            padding-bottom:0em;
}
li .nav-li{
    display: inline-block;

    text-align: center;
    padding-top:0.5em;
}
/*navigation bar completed*/
.left-area-1{
    float:left;
}
.left-area-1 ul{
   
      height:15.625em;
      width: 13.625em;
      display: inline-block;
      float:left;
      border-bottom-left-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
      
      
      

}
 .left-area-1 .left-area-ul li{
    list-style-type: none;
    border:0.0625em solid lightgray ;
    padding: 0.8em 1.5625em 0.8em 1.25em;
    color:#333;;
    font-size:14;
    border-top:0em solid ;
    font-size:0.875em
    
}
.gray-list-item{
    background-color: #f5f5f5;
    color:black !important;
    border-top:0.0625em solid lightgray !important;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border: 0.0625em solid lightgray;
    font-size:1em !important;
    
}
.left-area-1 ul{
    padding-left:1.875em;
    display:inline-block;
}
/*left area-1 completed*/
.central-area-1{
 
    width:30em;
    height:19.3em;
    display:inline-block;
    float: left;
}
.green-bar{
    padding:0.9375em 0.8125em 0em 0.9375em;
    margin:1em 0.125em 0.125em 1.95em;
    background-color:#dff0d8;
    border:0.0625em solid #d6e9c6;

    border-radius:0.25em;
    height: 2.1875em;
    weight: 21.0625em;
    color:#3c763d;
    font-size: 0.875em;
}
.x{
    color:#196319;
    font-weight: bold;
    display: inline-block;
    margin-left:2.5em;
    
}
.x a:visited, .x a:link{
    color:green;
}

.para-1{
    font-size:0.85em;
   padding:0.125em 0em 0.0625em 2em;
   line-height: 1.5em;
}
.para-1 h1{font-weight: 200;
           padding-top:1em;
 
}
.para-button{
    margin: 0.5em 0.3125em 0em 2.125em;
    padding:   0.4375em 0.4375em 0.4375em 0.4375em;
    background-color:white;
    color:gray;
    border-radius: 0.375em;
   
}
.but-link{
    margin-left:0.2em;
    margin-top:0.07em;
    
}
.but-link .comment-share a{
    color:#337ab7;
    }
.but-link .comment-share li,.but-link .comment-share{
    display: inline;
    padding-right:1em;
}
.comment-share {
     height: 1.3em !important;
     width:26.9em !important;
     margin-left:0em;
}
.but-link .comment-share .tag{
 
    margin:0.0625em ;
    color:white;
    padding:0.125em 0.25em;
    background-color:gray;
    border:0em;
     border-radius: 0.25em;
    border:0.0625em solid gray;
    font-size: 0.7em;
}
hr{width: 28em;
margin-left:1em;
}
/*central area-1 completed*/
.login-box{
    display: inline-block;
    clear:both;
    width:13.45em;
    height: 13em;
    margin-top: 1em;
    margin-left: 1.5em;
    border:1px solid #d0cdcd;
   border-radius:0.25em;

}
.login{
    background-color: #f5f5f5;
    display: inline-block;
    width: 10.9375em;
    height: 1.125em;
    padding:0.625em 1.25em 0.625em 1.25em;
    margin-top:0em;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-color:#ddd;
    border-bottom:0.0625px solid #d0cdcd;
    
}
form .input-2{
    padding:0.6em 0.275em;
    margin:0.7em;
    border-radius:0.25em;
}
form{
    margin:1em;
}
.ligin-button{
    padding:   0.4375em 1em 0.4375em 1em;
    background-color:white;
    color:#423c3c;
    border-radius: 0.375em;
    margin-left:0.8em;
}
/*right area completed*/
.sec-left{display: inline-block;
            width:13.7em;
            height: 20em;
            margin-right:9em;
            margin-left:1.8em;
            margin-top:-2em;
            border-radius: 0.25em;
             float:left;
}
.dramatically{
    width:13.7em;
    height:1.8em;
    background-color: gray;
    text-align: center;
    padding-top:0.8em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    background-color: #f5f5f5;
    
    border: 0.0625em solid lightgray;
}
.div-para{
     width:13.69em;
    padding:1em;
    line-height: 1.5em;
    margin-top:0em;
    border: 0.0625em solid lightgray;
    height: 18em;
    border-top: 0em solid ;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    color:#333;
    font-size:0.875em
}
.third-button{
    margin:0.8em 1em 1em -0.6em;
}
/*second left area completed*/
.central-area-2{
   margin-top:3em;
    margin-left:-9em;
    width:30em;
    height:19.3em;
    display:inline-block;

}
.para-2{
    font-size:0.85em;
   padding:0em 0em 0em 2em;
   line-height: 1.5em;
}
.para-2 h1{font-weight: 200;
   
}
.para-button-2{
    margin: 0.5em 0.3125em 0em 2.125em;
    padding:   0.4375em 0.4375em 0.4375em 0.4375em;
    background-color:white;
    color:gray;
    border-radius: 0.375em;
   
}
.but-link-2{
    margin-left:0.2em;
    margin-top:0.07em;
    
}
.but-link-2 .comment-share-2 a{
    color:#337ab7;
    }
.but-link-2 .comment-share-2 li,.but-link-2 .comment-share-2{
    display: inline;
    padding-right:0.5em;
}
.comment-share-2 {
     height: 1.3em !important;
     width:26.9em !important;
     margin-left:0em;
}
.but-link-2 .comment-share-2 .tag-2{
 
    margin:0.0625em ;
    color:white;
    padding:0.125em 0.25em;
    background-color:gray;
    border:0em;
     border-radius: 0.25em;
    border:0.0625em solid gray;
    font-size: 0.7em;
}
/*second central area completed*/
.second-right{
    width:13.45em;
    height: 13.5em;
    display: inline-block;
    float:right;
    margin-right:2.5em;
    margin-top:-3.8em;
    border-radius:0.25em;
    border:0.0625em solid #ddd;
}
.Dramatically{
    width:11.18em;
    height:1em;
    background-color: #f5f5f5;
    border-top-left-radius:0.25em;
    border-top-right-radius:0.25em;
    padding:0.8em 0.8em 0.8em 1.5em;}
    .green{
        background-color:#5cb85c;
        text-align: center;
        font-size: 0.75em;
        color:white;
        height: 1.42em;
        padding-top:0.24em;
        border-radius: 0.25em;
        
    }
    .blue{
      background-color: #5bc0de;
        width:12.5em;
        text-align: left;
        font-size: 0.75em;
        color:white;
        height: 1.42em;
        border-top-left-radius: 0.25em;
        border-bottom-left-radius: 0.25em;
        padding-top:0.24em;
        padding-left:0.2em;
    }
    .orange{
        background-color:#f0ad4e;
        text-align: left;
        font-size: 0.75em;
        color:white;
        height: 1.42em;
        padding-top:0.24em;
        border-top-left-radius: 0.25em;
        border-bottom-left-radius: 0.25em;
        padding-left:0.2em;
        width:7em;
    }
    .red{
        background-color:#d9534f;
        text-align: left;
        font-size: 0.75em;
        color:white;
        height: 1.42em;
        padding-top:0.24em;
        border-top-left-radius: 0.25em;
        border-bottom-left-radius: 0.25em;
        padding-left:0.2em;
        width:5em;
    }
    .blank{
    height: 1.25em;
    margin: 1em;
    background-color:rgba(234, 234, 234,1);
    border-radius: 0.25em;
    }
    /*second-right area completed*/
    .third-div{
            width:13.8em;
            height:16em;
            margin-right:9em;
            margin-left:1.8em;
            margin-top:-2.5em;
            border-radius: 0.25em;
            float:left;
          margin-bottom: 1em;
           border: 0.0625em solid lightgray;
    }
    .Active-Predomination{
    width:13.8em;
    height:1.8em;
    background-color: gray;
    text-align: center;
    padding-top:0.8em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    background-color: #f5f5f5;
    border-bottom:0.0625em solid lightgray;
    border
    }
.fifth-button,.sixth-button,.seven-button{
     padding:   0.4375em 1em 0.4375em 1em;
    background-color:white;
    color:#423c3c;
    margin-left:0.8em;
}
.div-para-3{
     width:13.69em;
    padding:1em;
    line-height: 1.5em;;
    border-top: 0em solid ;
    color:#333;
    font-size:0.875em
}
.third-buttons{
    padding:   0.4em 1em 0.4em 1em;
    background-color:white;
    color:#423c3c;
    margin:0em;
    font-size: 1em;
}
.marginleft-button{
    margin-left:-1em;
}
/*Third right area completed*/
.central-area-3{
   margin-top:-2.5em;
    margin-left:-9em;
    width:30em;
    height:16em;
    display:inline-block;
    margin-bottom:1em;
}
.para-3{
    font-size:0.85em;
   padding:0em 0em 0em 2em;
   line-height: 1.5em;
}
.para-3 h1{font-weight: 200;
   
}
.para-button-8{
    margin: 0.5em 0.3125em 0em 2.125em;
    padding:   0.4375em 0.4375em 0.4375em 0.4375em;
    background-color:white;
    color:gray;
    border-radius: 0.375em;
   
}
.but-link-3{
    margin-left:0.2em;
    margin-top:0.07em;
    
}
.but-link-3 .comment-share-3 a{
    color:#337ab7;
    }
.but-link-3 .comment-share-3 li,.but-link-3 .comment-share-3{
    display: inline;
    padding-right:0.5em;
}
.comment-share-3 {
     height: 1.3em !important;
     width:26.9em !important;
     margin-left:0em;
}
.but-link-3 .comment-share-3 .tag-3{
 
    margin:0.0625em ;
    color:white;
    padding:0.125em 0.25em;
    background-color:gray;
    border:0em;
     border-radius: 0.25em;
    border:0.0625em solid gray;
    font-size: 0.7em;
}
/*Third central area completed*/
.img{
    float:right;
    margin-right:-14.5em;
    margin-top:-25em;
    width:13.45em;
    height: 22em;
    border-radius:0.25em;
}
.h1{
    margin-left:1em;
    font-weight: 200;
    font-size:1.5em;
}
.img-radius{
    border-radius:0.25em;
}
.but:hover{
    background-color:lightgray;
}
/*Third right area completed*/
.secondlast{
    float:left;
    background-color:#eee;
    margin-top:2.5em;
    margin-left:-15.5em;
    width:62.7em;
    height:20em;
}
.span-1,.span-2,.span-3,.span-4{
    margin-left: 2em;
    width:16em;
    display:inline-block;
    font-size:0.9em;
}
.span-2{
    width:14em;
}
.thirdlast{
    padding:   0.4em 1em 0.4em 1em;
    background-color:white;
    color:#423c3c;
    font-size: 1em;
    border-radius:0.25em;
}
h2{
    font-weight: 500;
    font-size:1.5em;
}
.span-4{
width:15em;
    float: right;
}
table{
    border-spacing: 0.6em 1.3em ;
}
td{
    padding:1.7em; 
    background-color:#eee; 
    border-spacing:5px 15px;
    border: 0.0625em solid lightgray;  
    width:1em;
    height:2em; 
}
td:hover{
    border: 0.0625em solid cornflowerblue;
 
}
/*Third area completed*/
.footer:visited{
color:#337ab7;  
}
.footer:link{
color:#337ab7;  
}
.footer:hover{
    text-decoration: underline;
}
.Copyright{
    margin:2em;
}
.margin-top{
    /*margin-top:1em;*/
    margin-left:9em;
    font-size: 0.85em;
    position: relative;
    top:2em;
}
ul .comments a:hover{
text-decoration: underline;
color:#12558e; 
}
m{
    font-size: 1.8em;
    font-family: serif;
    font-weight: 600;
}
j{
    font-size: 1em;
    font-family: serif;
}
k{
    letter-spacing: -0.3em;
}
/*Completed*/
.login-2{
    width: 17em;
    height: 2em;
    margin-bottom: 1em;
    border:0.05em solid gray;
    box-shadow: -0.4em 0.5em 0.5em black;
    text-align: center;
    padding-top:0.5em;
    background-color: burlywood;
   
}
.hr-login{
    width: 30em;
    margin-left: -5em;
}
